# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/

# OS or editor temporary files
*.swp
*~
.DS_Store

# Nix Files
shell.nix

# Dev
sandbox*
